@import '~stream-chat-react/dist/css/v2/index.css';

.nav-bar-container {
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #18181B;
    height: 5.0rem;
}
.main-page-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
}
.enter-stream-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.enter-stream-button {
    background-color: mediumpurple;
    margin-right: 1.0rem;
    border-radius: 8px;
}

.enter-stream-button:hover {
    background-color: mediumpurple;
    cursor: pointer;
}
.submit-stream-button {
    margin-top: 0.75rem;
}
.message-list-container {
    height:80vh;
}
.chat-container {
    width: 500px;
}
.stream-video {
    width: 550px;
    height: 750px;
    margin-right: 250px;
}



.react-player-container {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}

.video-description-container {
    background-color: #18181B;
    padding-top: 1.0rem;
    width: 1050px;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
}

.streamer-details-container {
    display: flex;
    align-items: center;
}
.streamer-username {
    font-weight: bold;
}
.stream-iframe {
    aspect-ratio: 16/9;
    object-fit: cover;
}
